
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        
                      
                        <li class="nav-item">
                        <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                        Dashboard
                        </p>
                        </a>
                        </li>

                        <li class="nav-item">
                        <a href="/veiw" class="nav-link">
                            <i class="nav-icon fas fa-bars"></i>    
                        <p>
                        Details
                        </p>
                        </a>
                        </li>

                        <li class="nav-item">
                        <a href="/task" class="nav-link">
                        <i class="nav-icon fas fa-archive"></i>
                        <p>
                        veiw tasks
                        </p>
                        </a>
                        </li>

                        <li class="nav-item">
                            <a href="/leave" class="nav-link">
                            <i class="nav-icon fas fa-house-user"></i>
                            <p>
                            Apply leave
                            </p>
                            </a>
                            </li>

                        
                        <% if(username=='abd') { %>
                        <li class="nav-item">
                        <a href="/pending" class="nav-link">
                        <i class="nav-icon fas fa-bar-chart"></i>
                        <p>
                        Over view
                        </p>
                        </a>
                        </li>    
                        <% } %>
                        </nav>

                