<html>
    <head>
        <title>
            welcome
        </title>
        <style>
            form{
                width: fit-content;
                text-align: center;
                margin: auto;
                margin-top: 10%;
                padding:2%;
                border:2px solid black;
            }
        </style>
    </head>
    <body>
        <form>
            <h1>Welcome to Express</h1>
            <button ><a href="log/in" style="color: black; text-decoration: none;">click here for Login</a></button>

        </form>
    </body>
</html>