extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="data")
   button(type="button") click here for static data table
  br
  br
  a(href="rdata")
   button(type="button") click here for dynamic data table 